.footer-app {
	border-top: 1px solid $light-blue;
	padding: 25px 32px;
	width: 100%;

	&__text {
		color: $light-grey;
		font-family: 'Roboto', sans-serif;
		font-size: $small;
		line-height: $medium20;
	}

	@media only screen and (min-width: 1200px) {
		border-top: none;
		bottom: 0;
		padding: 0 120px 50px 120px;
		position: fixed;
	}
}