.header-app {
	align-items: center;
	background-color: $white;
	border-bottom: 1px solid $light-blue;
	color: $medium-grey;
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	justify-content: space-between;
	padding: 20px 32px;
	top: 0;
	width: 100%;
	z-index: 1;

	@media only screen and (min-width: 1200px) {
		padding: 24px 120px;
		position: fixed;
	}

	&__text {
		&--call {
			color: $medium-purple;
			font-size: $medium;
			margin-left: 8px;
		}

		&--question {
			color: $medium-grey;
			font-size: $small;
			margin-right: 23px;
		}
	}

	&__content-call {
		display: flex;
		align-items: center;
	}

	&.ishome {
		background-color: $medium-white;
		border-bottom: none;

		@media only screen and (min-width: 1200px) {
			background-color: transparent;
		}
	}
}